.login-message{
    width: 100%;
    height: 50px;
    background-color: green;
    margin: 0;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.not-login-message{
    width: 100%;
    height: 50px;
    background-color: red;
    margin: 0;
    padding: 10px 0;
    color: white;
    text-align: center;
}